body {
    background-color: #fdfcfd;
}

h1, h4 {
    font-family: 'Sacramento', cursive;
    font-weight: bold;
}

p, a, h3 {
    text-align: justify;
    font-family: 'Georgia';
}

section {
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0;
    border-radius: 10px;
}


.cert-logo {
    max-height: 45px;
    width: auto;
    margin-right: 10px;
}

.dynamic-logo {
    max-height: 100px;
    width: auto;
}

.hobbies_img {
    max-width: 200px;
    max-height: 200px;
    margin-right: 15px;
    margin-left: 15px;
}

.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    display: none;
    font-size: 2rem;
    cursor: pointer;
}